.logomarca{
    display: grid;
    justify-content: center;
}
.logo{
    width: 300px;
    height: 300px;
}
.bt{
    display: grid;
    justify-content: center;
}
button{
    margin: 10px;
    background-color: #004aad;
    padding: 5px 40px;
    border: none;
    color: white;
}
.container{
    display: grid;
    justify-content: center;
}
.login{
    display: grid;
    justify-content: center;
    background-color: rgb(140, 144, 145);
    margin: 10px;
    border: none;
    padding: 20px;
    color: white;
    width: 30px;
    border-radius: 10px;
  }
  .historico{
    display: grid;
    justify-content: center;
  }
  .cadastro{
    display: grid;
    justify-content: center;
  }
  .registrado{
    display: grid;
    justify-content: center;
  }
  table, td, th {  
    border: 1px solid#004aad;
    text-align: left;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    padding: 15px;
  }

  formopen {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; 
}

#clientesopen {
    list-style: none;
    padding: 0;
    margin-top: 10px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
}

    .sidenav {
      height: 100%;
      width: 0;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      background-color:#004aad;
      overflow-x: hidden;
      transition: 0.5s;
      padding-top: 60px;
    }

    .sidenav a {
      padding: 8px 8px 8px 32px;
      text-decoration: none;
      font-size: 18px;
      color: white;
      display: block;
      transition: 0.3s;
    }

    .sidenav a:hover {
      color: #f1f1f1;
    }

    .sidenav .closebtn {
      position: absolute;
      top: 0;
      right: 25px;
      font-size: 36px;
      margin-left: 50px;
    }
    h1{
        color: #004aad;
    }
    .log{
        display: grid;
        justify-content: center;
    }
